.navbar{
    display: flex;
    background-color: rgba(243, 235, 235, 0.623);
    margin-top: 0;
}
html{
    background-color: grey;
    margin-left: 0;

    filter: opacity(0.9);
    filter: brightness(120%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0 200px;
    color: black;
}



.navlink :hover{
    background-color:rgb(243, 127, 127);
    color: black;
    width: max-content;
    height: max-content;
 
    transition: all 0.3s ease-in-out;
    text-align: center;
    border-radius: 20px;
}
.navbar ul{
    margin-left: 1000px;
    gap: 20px;
    list-style-type: none;
    display: flex;
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    width: 100%;
    height: inherit;
}
#start-btn{
    background-color: grey;
    border: 1px solid rgb(204, 192, 192);
    padding :30px;
    border-radius: 20px;
    font-weight: 800;
    font-family: "Montserrat", system-ui;
    float: right;
    margin-right: 200px;
    font-size: 20px;
}
.caption{
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 0 0 200px;
    margin-left: 30px;
    background-color: gold;
    box-shadow: 100 200 400 700 red;
    border-radius: 20px;
    filter: blur(1s);
    filter: grayscale(200px);
    filter: drop-shadow(200px);
    opacity: 0.9;
}
#start-btn:hover{
    background-color: silver;
    transition: all 1s ease-in-out;
}